#main{
   background: #eee;
   border-radius: 5px;
   padding: 50px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  text-align: center;

}

#blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

#breakdown{
margin: 70px 0;        
}

h1{
  font-size: 40px;
  margin: 0;
  line-height: 1.2;
  margin-bottom: 0;
}
img{
max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div{
background: white;
padding: 20px;

}

img-heading{
margin: 15px 0 5px 0;

}


ul{
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;

}

li {
margin: 5px 5;
}

blockquote {
            font-style: italic;
            max-width: 545px;
            margin: 0 auto 50px auto;
            text-align: left;
          }
          
